<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="defaultLayout"
          value="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=StackTrace :innerFormat=ShortType, Message, StackTrace  :maxInnerExceptionLevel=10 :separator=${newline}${newline}------ :innerExceptionSeparator=${newline}" />
  
  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="PyroNexusTradingAlertBot.log"
            archiveFileName="PyroNexusTradingAlertBot.{##}.log"
            archiveAboveSize="1048576"
            maxArchiveFiles="10"
            layout="${defaultLayout}" />
    <target name="logconsole" 
            xsi:type="Console"
            layout="${defaultLayout}" />
  </targets>

  <rules>
    <logger name="*"
            minlevel="Info" 
            writeTo="logconsole" />
    <logger name="*"
            minlevel="Debug"
            writeTo="logfile" />
  </rules>
</nlog>